<div class="my-title-bar">
    <div class="row">
        <div class="my-logo-area col-sm-6">
            <img ng-src="{{iconFile}}" class="my-icon">
            <div class="my-title-area">
                <p class="my-logo-title">{{title}}</p>
                <p class="my-logo-subtitle">{{subtitle}}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="my-collapsed-menu pull-right">
                <button type="button" class="btn my-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>            

        </div>

        <div class="my-right-side-controls col-sm-6">
            <my-user-profile-small></my-user-profile-small>
        </div>
    </div>
        
</div>

<div class="my-menu-area" 
    ng-show="isMenuVisible" 
    ng-class="{'my-menu-area-vertical': isMenuVertical, 'my-menu-area-horizontal': !isMenuVertical}">
    <my-user-profile></my-user-profile>    
    <div ng-transclude></div>
</div>




<div ng-view class="my-view" ng-class="{'my-view-full-width': !isMenuVertical || !isMenuVisible}">
    
</div>